<h1>About Bloccit</h1>
  <h4> A Reddit Replica to Showcase the Fundamentals of Web Development and Ruby on Rails.</h4>

  <div>
    <p>The following fundamentals of Ruby on Rails were utilized in this project:
      <ul>
          <li>  Object relational mapping                </li>
          <li>  The importance of testing                </li>
          <li>  Seeding data                             </li>
          <li>  The MVC architecture                     </li>
          <li>  CRUD                                     </li>
          <li>  Validating data                          </li>
          <li>  Creating users & signing them in and out </li>
          <li>  Ajax<                                    </li>
          <li>  Privacy options                          </li>
          <li>  API basics (sending and retrieving data) </li>
          <li>  Made during my apprenticeship at Bloc    </li>
      </ul>
    </p>
  </div>
